Frontend/node_modules/
Frontend/.next/
Frontend/.env.local

Backend/__pycache__/
Backend/*.pyc
Backend/venv/
Backend/.env

reports/

# Ansible generated inventory
ansible/hosts.ini

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info